@import './base.css';

.chars-limit {
  align-self: flex-end;
  font-family: monospace;
  font-size: 1rem;
  line-height: 1;
  color: var(--light-gray);
  margin-bottom: 32px;
}

.chars-limit.error {
  color: var(--error);
}

.invalid {
  border: 2px solid var(--error);
}

.color-picker {
  display: flex;
  gap: 16px;
}

.color-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  border: 4px solid var(--light-gray);
  position: relative;
  overflow: hidden;
}

.color-half {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.color-circle.selected {
  border: 4px solid var(--white);
}

.delete-button {
  background: var(--error);
  color: var(--white);
}

.back-button {
  background: var(--background);
  border-color: var(--background);
  text-align: left;
}